$MAIN-COLOR--PRIMARY: #a23982;
$MAIN-COLOR--PRIMARY-DARK: #1f1013;
$MAIN-COLOR--PRIMARY-LIGHT: #ba97b0;
$MAIN-COLOR--SECONDARY-LIGHT: #ffdec6;
$MAIN-COLOR--SECONDARY: #dca57e;
$LIGHT-COLOR: #fffcfa;

$BODY-CONTAINER-WIDTH: 90vw;
$BODY-CONTAINER--MAX-WIDTH: 1250px;
$CONTENT-CONTAINER-WIDTH: 1100px;

$HEADER-LOGO-CONTAINER--HEIGHT: 140px;
$HEADER--HEIGHT: 67px;

@mixin flex ($justify-content, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}
@mixin font ($size, $font, $weight: normal) {
  font-size: $size;
  font-family: $font;
  font-weight: $weight;
}
