$MAIN-COLOR--PRIMARY: rgb(112, 16, 6);
$MAIN-COLOR--PRIMARY-DARK: rgb(63, 12, 6);
$MAIN-COLOR--PRIMARY-LIGHT: rgb(249, 249, 249);
$MAIN-COLOR--SECONDARY: #c46e30;
$MAIN-COLOR--SECONDARY-LIGHT: #f1b936;

$BODY-CONTAINER-WIDTH: 1400px;
$CONTENT-CONTAINER-WIDTH: 1200px;

$HEADER-LOGO-CONTAINER--HEIGHT: 140px;
$HEADER--HEIGHT: 67px;

@mixin flex ($justify-content, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}
@mixin font ($size, $font, $weight: normal) {
  font-size: $size;
  font-family: $font;
  font-weight: $weight;
}
