@import './library';

.body__container {
  max-width: $BODY-CONTAINER-WIDTH;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body {
  background: linear-gradient(#d8e2efe6 50%,rgb(139, 167, 184));
}
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: $BODY-CONTAINER-WIDTH;
}
a {
  text-decoration: none;
  cursor: inherit;
  &:active {
    color: $MAIN-COLOR--PRIMARY;
  }
}
li {
  list-style-type: none;
  a {
    color: inherit;
  }
}

@font-face {
  font-family: "OpenSans"; 
  src: url('../assets/fonts/open-sans.woff') format('woff');
  font-style: normal;
}
