@import '../../global/library';

.boardItem {
  width: 10rem;
  height: $BOARD-ITEM--HEIGHT;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 8;
  background-color: orange;
}

.boardItem__buttonsWrapper {
  display: flex;
  justify-content: flex-end;
}

.boardItem__title {
  height: 2rem;
  overflow: hidden;
  word-break: break-all;
}

.boardItem__description {
  height: 2.5rem;
  overflow: hidden;
  word-break: break-all;
}
