@import '../../../global/library';

$START-PAGE--HEIGHT: 90vh;
$START-PAGE--PADDING: 20px 5vw;
$START-PAGE-TITLE--WIDTH: 70vh;
$START-PAGE-BUTTON--HEIGHT: 50px;
$START-PAGE-BUTTON--WIDTH: 250px;
$START-PAGE-BUTTON--TOP: 40vh;

$SCROLL-BUTTON--HEIGHT: 50px;
$SCROLL-UP--TOP: 18vh;
$SCROLL-UP--RIGHT: 19px;

.start-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: $START-PAGE--PADDING;
  @include font(22px, Roboto);
  text-align: center;
  height: $START-PAGE--HEIGHT;
}
.start-page__title{
  position: absolute;
  width: $START-PAGE-TITLE--WIDTH;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 2em;
}
/***********************button*******************/
.start-page__button {
  position: absolute;
  border: 2px solid $LIGHT-COLOR;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: $LIGHT-COLOR;
  width: $START-PAGE-BUTTON--WIDTH;
  height: $START-PAGE-BUTTON--HEIGHT;
  font-size: 1.5em;
  border-radius: 5px;
  opacity: .5;
  top: $START-PAGE-BUTTON--TOP;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  transition: .3s;
  &:hover {
    border: 2px solid $MAIN-COLOR--PRIMARY-DARK;
    background-color: rgba(365,365,365,0.5);
    cursor: pointer;
    color: $MAIN-COLOR--PRIMARY-DARK;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}
a {
  transition: all linear 0.3s;
}
/***********************up-button************************/
button.scroll-button__container {
  height: $SCROLL-BUTTON--HEIGHT;
  width: $SCROLL-BUTTON--HEIGHT;
  border-radius: 7px;
  color: $MAIN-COLOR--SECONDARY-LIGHT;
  background-color: $MAIN-COLOR--PRIMARY-DARK;
  box-shadow: 0px 0px 5px 2px rgba(255, 228, 193, 0.8);
  position: fixed;
  right: $SCROLL-UP--RIGHT;
  top: $SCROLL-UP--TOP;
  &:hover {
    background-color: $MAIN-COLOR--SECONDARY;
  }
  &:active {
    color: rgba(255, 197, 121, 0.8);
  }
}
/***************media********************/
@media only screen and (min-width: 310px) and (max-width: 600px) {
  .start-page__title{
    font-size: 7.2vw;
  }
  button.scroll-button__container {
    height: 30px;
    width: 30px;
  }
}

/*******************************animated background**********************/
.light {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: $LIGHT-COLOR;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.x1{
  animation: floatUp 4s infinite linear;
  transform: scale(1.0);
}

.x2{
  animation: floatUp 7s infinite linear;
  transform: scale(1.6);
  left: 15%;
}

.x3{
  animation: floatUp 2.5s infinite linear;
  transform: scale(.5);
  left: -15%;
}

.x4{
  animation: floatUp 4.5s infinite linear;
  transform: scale(1.2);
  left: -34%;
}

.x5{
  animation: floatUp 8s infinite linear;
  transform: scale(2.2);
  left: -57%;
}

.x6{
  animation: floatUp 3s infinite linear;
  transform: scale(.8);
  left: -81%;
}

.x7{
  animation: floatUp 5.3s infinite linear;
  transform: scale(3.2);
  left: 37%;
}

.x8{
  animation: floatUp 4.7s infinite linear;
  transform: scale(1.7);
  left: 62%;
}

.x9 {
  animation: floatUp 4.1s infinite linear;
  transform: scale(0.9);
  left: 85%;
}

@keyframes floatUp{
  0%{top: 200vh; opacity: 0;}
  25%{opacity: 1;}
  50%{top: 0vh; opacity: .8;}
  75%{opacity: 1;}
  100%{top: -200vh; opacity: 0;}
}
#head1, #head2,#head3, #head4, #head5{
  opacity: 0;
}
#head1{
  animation: fadeOut 1 5s ease-in;
}
#head2{
  animation: fadeOut 1 5s ease-in;
  animation-delay: 6s;
}
#head3{
  animation: fadeOut 1 5s ease-in;
  animation-delay: 12s;
}
#head4{
  animation: fadeOut 1 5s ease-in;
  animation-delay: 17s;
}
#head5{
  animation: finalFade 1 5s ease-in;
  animation-fill-mode: forwards;
  animation-delay: 22s;
}
@keyframes fadeIn{
  from{opacity: 0;}
  to{opacity: 1;}
}
@keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
}
@keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
}
