@import '../../global/library';

$HEADER--WIDTH: 100%;
$LOGO--HEIGHT: 60px;
$LOGO-IMG--HEIGHT: 35px;
$LOGO-TITLE--MARGINE-LEFT: 20px;
$NAV--WIDTH: 50vw;
$CHANGE-LANG--WIDTH: 35px;
$SCROLL-BUTTON--HEIGHT: 50px;

.header {
  @include flex(space-between);
  background: radial-gradient($MAIN-COLOR--PRIMARY,#1f1013);
  @include font(22px, Roboto);
  position: fixed;
  z-index: 1;
  width: $HEADER--WIDTH;
  top: 0;
  color: $LIGHT-COLOR;
  border-bottom: 2px solid;
  --angle: 0deg;
  border-image: linear-gradient(var(--angle), $LIGHT-COLOR, $MAIN-COLOR--PRIMARY) 1;
  animation: 7s rotate linear infinite;
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}
@keyframes rotate {
	to {
		--angle: 360deg;
	}
}
.header-container {
  width: $BODY-CONTAINER--WIDTH;
  max-width: $BODY-CONTAINER--MAX-WIDTH;
  margin: 10px auto;
  @include flex(space-between);
  .MuiSvgIcon-root {
    color: $MAIN-COLOR--SECONDARY-LIGHT;
  }
}
.logo__container {
  @include font(11px, Roboto);
  @include flex(space-between);
  min-width: 17%;
  opacity: .8;
}
.logo {
  height: $LOGO--HEIGHT;
  margin: 0 15px 0 7px;
  h1 {
    color: $MAIN-COLOR--SECONDARY-LIGHT;
    &:hover {
      color:$MAIN-COLOR--PRIMARY-LIGHT;
    }
    &:active {
      color: $MAIN-COLOR--SECONDARY;
    }
  }
}
.logo-img {
  height: $LOGO-IMG--HEIGHT;
  border-radius: 20px;
  &:hover {
    box-shadow: 0px 0px 8px 3px rgba(255, 255, 255, 0.8);
  }
  &:active {
    box-shadow: 0px 0px 8px 3px rgb(242 161 55 / 80%);
  }
}
.logo__title {
  @include flex(space-between);
  color: $LIGHT-COLOR;
  margin-left: $LOGO-TITLE--MARGINE-LEFT;
  letter-spacing: 1.2px;
  &:hover {
    color: $MAIN-COLOR--SECONDARY-LIGHT;
    text-shadow: 0px 0px 13px rgb(255 255 255 / 80%);
  }
}
.navbar__container {
  width: $NAV--WIDTH;
}
.navbar {
  @include flex(space-between);
  @include font(16px, OpenSans);
  li > a {
    &:hover {
      color:$MAIN-COLOR--SECONDARY-LIGHT;
      text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
    }
  }
  li {
    width: 33%;
    text-align: center;
  }
  .active {
    color: $MAIN-COLOR--SECONDARY;
  }
}
.nav__link {
  &:hover {
    height: $SCROLL-BUTTON--HEIGHT;
    width: $SCROLL-BUTTON--HEIGHT;
    border-radius: 7px;
    color: $MAIN-COLOR--SECONDARY-LIGHT;
    background-color: $MAIN-COLOR--PRIMARY-DARK;
    box-shadow: 0px 0px 5px 2px rgba(255, 228, 193, 0.8);
    padding: 21px 20px;
  }
}
.button__change-lang {
  border: 2px solid $LIGHT-COLOR;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: $LIGHT-COLOR;
  width: $CHANGE-LANG--WIDTH;
  height: $CHANGE-LANG--WIDTH;
  font-size: 1em;
  border-radius: 5px;
  opacity: .5;
  transition: .3s;
  &:hover {
    border: 2px solid $MAIN-COLOR--PRIMARY-DARK;
    background-color: rgba(365,365,365,0.5);
    cursor: pointer;
    color: $MAIN-COLOR--PRIMARY-DARK;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
}
/***************media********************/
@media only screen and (min-width: 630px) and (max-width: 850px) {
  .navbar__container {
    width: 65vw;
  }
  .logo__title {
    @include font(2.5vw, Roboto);
  }
}
@media only screen and (max-width: 629px) {
  .navbar__container {
    width: 70vw;
  }
  .logo__title {
    display: none;
  }
  .navbar {
    font-size: 2.4vw;
  }
}
