@import '../../../global/library';

.board {
  background-color: $LIGHT-COLOR;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 5rem 1rem 1rem 1rem;
}

.board__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  margin-left: 5%;
  button {
    height: 2.5rem;
    width: 10rem;
  }
}

.board__title {
  margin-left: 2.5rem;
  margin-right: 1rem;
  max-width: max-content;
  color: $MAIN-COLOR--PRIMARY-DARK;
}
