@import '../../../global/library';

$BOARD--WIDTH: 100vw;
$BOARD--PADDING: 83px 0;

.board {
  background-color: $LIGHT-COLOR;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  margin: 0 auto;
  width: $BOARD--WIDTH;
  padding: 5rem 1rem 1rem 1rem;
}
.board__header {
  width: max-content;
  margin-left: 5%;
  button {
    height: 3.5rem;
    width: 11rem;
  }
}
.board__title {
  max-width: max-content;
  color: $MAIN-COLOR--PRIMARY-DARK;
  @include font(2.5rem, OpenSans, 600);
  margin: 0 0 10px 0;
}
.board__page {
  width: $BODY-CONTAINER--WIDTH;
  max-width: $BODY-CONTAINER--MAX-WIDTH;
  padding: $BOARD--PADDING;
  margin: 0 auto;
}
