@import '../../../global/library';

.board {
  background-color: $LIGHT-COLOR;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.board__title {
  margin-left: 2.5rem;
  color: $MAIN-COLOR--PRIMARY-DARK;
}
